*, ::before, ::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --logo-color1:#0b2c31;
    --logo-color2:#aa8968;
    --logo-color3:#9f7d64;
    --logo-color4:#615245;
}
#header{
    background-color: var(--logo-color1);
    position:fixed;
    width:100%;
    height:10vh;
    border-bottom:0.9vh solid var(--logo-color2);
    z-index: 1;
}
#header-img{
    height:9.1vh;
    position:fixed;
}
#header-title{
    position:fixed;
    left:67px;
    top:2.5vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode';
    color:var(--logo-color2);
    font-size: 2.3vw;
}
#nav-bar{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top:2vh;
    right:3vh;
    gap:20px;
}
.nav-link{
padding:7px;
color:var(--logo-color3);
font-size: 2vw;   
transition: color 0.5s, background 0.5s ;
border-radius: 20px;
cursor: pointer;
text-decoration:none;
}
.nav-link:visited,.nav-link:active{
    color:var(--logo-color3);
}
.nav-link:hover{
    background:var(--logo-color2);
    color:var(--logo-color1);
}
#About{
    position:relative;
    top:10vh;
    width:100%;
    height:90vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url('Images/Cafe.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    z-index: -1;
    border-bottom:0.9vh solid var(--logo-color2);

}
#About-text{
display: grid;
justify-items: center;
padding-top: 50px;
color: var(--logo-color3);
}
#About-text h1{
font-size:3.5vw ;
background-color: var(--logo-color1);
padding: 10px;
border-radius: 15px;
border: 4px solid black ;
}
#About-text p{
    font-size:30px;
    background-color: var(--logo-color1);
    border-radius: 15px;
    border: 4px solid black ;
    margin-top:120px;
    width:50%;
    height:40vh;
    padding:10px;
    line-height: 40px;
}
#Menu, #Overview{
    display: grid;
    justify-items: center;
    color: var(--logo-color3);  
    padding-top:4vh;
    height:120vh;
    background:linear-gradient(var(--logo-color1),var(--logo-color1)25%, rgb(9, 88, 9));
    border-bottom:0.9vh solid var(--logo-color2);

}

.parts{
    font-size:3.5vw;
    padding:30px;
}
#images-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}
.menu-images{
    width:500px;
    border:3px solid black;

}
#Menu{
    height:140vh;

}

#video{
    width:500px;
    height:300px;
    background-image: url('https://youtube.com/shorts/IBl6FQrN1ag?feature=share') ;
    position: relative;
    bottom:80px;
}
#Order{
    display: grid;
    justify-items: center;
    color: var(--logo-color3);
    background:linear-gradient(var(--logo-color1),var(--logo-color1)25%, rgb(9, 88, 9));
    height:55vh;
    margin-bottom:10px;
}
#Order a{
    text-decoration: none;
    font-size: 30px;
    color:var(--logo-color2);
    padding: 10px;
    position: relative;
    bottom: 20px;
    transition:background 0.5s, color 0.5s ;
    border-radius: 16px;

    
}
#form{
    border: 3px solid var(--logo-color3);
    width:500px;
    height:200px;
}
input[type='email']{
    display: block;
    width:300px;
    height: 30px;
    margin:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
input[type='submit']{
   position: relative;
   left:200px;   
   top:20px;
   width:100px;
   height: 40px;
   border-radius: 16px;
   color: var(--logo-color3);
   background-color: #0b2c31;
   font-size:20px;
}
#foot{
    text-align:center;
    padding:1px;
}
#foot a, #src-a {
    color:rgb(0, 93, 62);
    transition: background 0.5s;
}
#foot a:hover, #src-a {
    cursor: pointer;
    background: lightgrey;
}
#Coordinates a:hover{
background: red;
color:white;
width:200px;

}
@media  (max-width:452px){
    nav{
        visibility: hidden;
    }
    #About{
        height:160vh;
    }
    #About-text p{
        width:85vw;
        height:80vh;

    }
    #images-div { 
     display: flex;
     flex-direction: column;
    }
    #Menu { 
        height:300vh;
        margin:0;
    }
    .menu-images{
        width:380px;
    }
    #Overview{
        height:80vh;
    }
    #video{
        padding-top:10vh;
        width: 300px;
    }
}
@media screen and (max-width:1400px){
    #images-div { 
     display: flex;
     flex-direction: column;
    }
    #Menu { 
        height:235vh;

    }
    #Overview{
        height:80vh;
    }
}
@media screen and (max-width:768px){
    #About{
        height:100vh;
    }
    #About-text p{
        width:85vw;
        height:50vh

    }
    #images-div { 
     display: flex;
     flex-direction: column;
    }
    #Menu { 
        height:270vh;

    }
    #Overview{
        height:80vh;
    }
    #video{
        padding-top:10vh;
    }
}

